/* card's width is 500 pixels */
.card-frame {
  width: 500px;
  margin: 16px;
}

.card-white {
  background-color: white;
  padding: 16px;
}

.card-image {
  height: 300px;
  background-size: cover;
  background-position: center;
}

.card-white a {
  opacity: 0;
}

.card-white:hover a {
  opacity: 1;
  transition: 1s;
}

.card-user {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.cards {
  display: flex;
}