.card-frame {
  width: 500px;
  margin: 16px;
}

.card-white {
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 16px;
}

.card-image {
  height: 360px;
  background-size: cover;
  background-position: 50% 41%;
}

.card-white a {
  opacity: 0;
}

.card-white:hover a {
  opacity: 1;
  transition: 1s;
}