.card-frame {
  width: 500px;
  margin: 32px;
}

.card-white {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card-image {
  height: 300px;
  background-size: cover;
}

.card-image a {
  opacity: 0;
  transition: opacity 1s;
}

/* .card-image a:hover {
  opacity: 1;
} */

.card-white:hover a {
  opacity: 1;
}